<h1>Blogs一覧</h1>
  <div class = "head_image">
    <img src="assets/header.jpg" class="image"></div>
  <div class="container">
    <div class = "text">日々の想いを吐露する場です。思いのままにブチまけちゃいましょう！！</div>
  <div class="row blogs">
    <% @blogs.each do |blog| %>
      <div class="col-xs-12 col-md-6 panel panel-default">
        <div class="panel-heading"><%= blog.title %></div>
      <div class="panel-body">
          <%= blog.content %>
        <div class="blog-links">
          <%= link_to '詳細', blog, class: 'btn btn-default' %>
          <%= link_to '編集', edit_blog_path(blog), class: 'btn btn-info' %> |
          <%= link_to '削除', blog, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>