<!DOCTYPE html>
<html>
<head>
  <title>Taiga's Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <% if logged_in? %>
      # ログインしている場合
      <ul>
        <li><a>Taiga's Blog</a></li>
        <li><a href="/blogs">Top Page</a></li>
        <li><a href="/blogs/new">New Blog</a></li>
        <li><%= link_to "Logout", session_path(current_user.id), method: :delete %></li>
        <li><%= link_to "Profile", user_path(current_user.id) %></li>
      </ul>
    <% else %>
      <ul>
        <li><%= link_to "Sign up", new_user_path %></li>
        <li><%= link_to "Login", new_session_path %></li>
      </ul>
    <% end %>  
  </header>
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "#{key}") %>
  <% end %>

<%= yield %>

  <footer>
    <p>運営会社DIVE INTO CODE株式会社</p>
    <p>© 2018 Copyright DIVE INTO CODE Corp.</p>
  </footer>

</body>
</html>